/* TODO - Put custom CSS rules in this file */
body {

}
.container {
    width: 100%;
}
.navbar {
}
.navbar-brand #logo {
    color: #269abc;
}

#kerkoStudentetSezon {
}
input[type="checkbox"] {
    margin-left: 0px !important;
}
#mainTitle {
    padding-bottom: 0px;
    padding-top: 0px;
    color: #269abc;
}

/********************************************************************************************************************/


/*************************************************************MEDIA*****************************************************************/

#forma {

}


/*************************************************************MEDIA*****************************************************************/
@media (max-width: 991px) {

}
@media (min-width: 768px) {

}
@media (max-width: 767px) {

}
@media (max-width: 460px) {

}
