/* TODO - Put custom CSS rules in this file */
body {

}

.container {
    width: 100%;
}

.navbar {
}

.navbar-brand #logo {
    color: #269abc;
}

#kerkoStudentetSezon {
}

#mainTitle {
    padding-bottom: 0;
    padding-top: 0;
    color: #269abc;
}

.red-text {
    color: rgb(203, 65, 84);
}

.left-text-container .left-text {
    text-align: left;
}

/********************************************************************************************************************/

 .error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-template img {
    width: 200px;
}

.error-actions .btn {
    margin-right: 10px;
}

/*************************************************************FORM*****************************************************************/

#forma {

}

/*************************************************************MEDIA*****************************************************************/
@media (max-width: 991px) {

}

@media (min-width: 768px) {

}

@media (max-width: 767px) {

}

@media (max-width: 460px) {

}
