/* TODO - Put custom CSS rules in this file */
body {

}
.container {
    width: 100%;
}
.navbar {
}
.navbar-brand #logo {
    color: #269abc;
}

#kerkoStudentetSezon {
}

#mainTitle {
    padding-bottom: 0;
    padding-top: 0;
    color: #269abc;
}

.red-text {
    color: rgb(203, 65, 84);
}

/********************************************************************************************************************/


/*************************************************************MEDIA*****************************************************************/

#forma {

}


/*************************************************************MEDIA*****************************************************************/
@media (max-width: 991px) {

}
@media (min-width: 768px) {

}
@media (max-width: 767px) {

}
@media (max-width: 460px) {

}
